@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .top-nav {
    @apply text-sm;
  }
  .icon-hover:hover {
    @apply scale-125;
  }
  .text {
    @apply text-gray-950;
  }
  .header-text {
    @apply text-slate-900;
  }

  .nav_link:hover {
    @apply bg-[#2d1d54] text-white;
  }
  .gapping {
    @apply my-[6rem] lg:w-[80%] mx-auto;
  }
  .text-effect:hover {
    @apply translate-x-2 transition-transform duration-300 ease-in-out;
  }
  .text-underline:hover {
    @apply underline;
  }
  .footer-txt {
    @apply text-slate-300 opacity-90;
  }
  .footer-txt:hover {
    @apply text-slate-400;
  }
  .side_nav_link {
    @apply flex gap-2 justify-between items-center pr-7 cursor-pointer;
  }
  .side_nav_link-btn {
    @apply bg-slate-500  text-white p-1 rounded-md;
  }
  .side_nav_link-btn:hover {
    @apply hover:bg-slate-400;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Ensure the container uses the full viewport height minus some space for padding */
.scroll-container {
  display: flex;
  height: calc(
    100vh - 100px
  ); /* Adjust this height to leave space for the footer */
  overflow: hidden; /* Remove scrollbars from the container */
}

/* Make the left column scrollable */
.scroll-column {
  overflow-y: auto;
  flex: 1;
  padding: 0 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scroll-column::-webkit-scrollbar {
  display: none; /* WebKit */
}

/* Make the right column sticky and ensure it fits within the viewport height */
.sticky-column {
  position: sticky;
  top: 0;
  height: calc(
    100vh - 100px
  ); /* Adjust this height to leave space for the footer */
  overflow: hidden;
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .slick-slide > div {
    margin: 0 30px;
  }
}
